<h2>Add Users Page</h2>
<form id="add-user-form">
  <label for="user-email">Enter the email addresses of your team and send them an invite!</label>
  <input type="text" name="user-email" placeholder="dude@car.com">
  <button type="submit" form="add-user-from" class="btn btn-warning">Submit</button>
</form>