<div class="jumbotron mb-5 mt-2 p-3">
  <h1 class="display-4 text-dark text-center"><strong>Add users</strong></h1>
</div>


<form id="add-user-form">
  <div class="container">
    <div class="form-group">
      <label for="user-email">Enter the email addresses of your team and send them an invite</label>
      <input type="text" name="user-email" class="form-control" placeholder="dude@car.com" required>
    </div>

    <div class="row">
      <div class="col -sm">
        <div class="form-group">
          <label for="Textarea">List of people added</label>
          <textarea class="form-control" id="" rows="8"></textarea>
        </div>
      </div>
    </div>

    <div class="col-s text-center">
      <button type="submit" class="btn btn-warning"><i class="fa fa-check"></i> Submit</button>
    </div>
  </div>
</form>