<div class="jumbotron mb-5 mt-2 p-3">
  <h1 class="display-4 text-dark text-center"><strong>Add an event</strong></h1>
</div>

<br> <br>

<form id="add-event">

  <div class="container">
    <div class="form-group row">
      <label for="name" class="col-sm-2 col-form-label">Name:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="name" placeholder="Big Party" required>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="form-group row">
      <label for="description" class="col-sm-2 col-form-label">Description:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="description" placeholder="A cool event for cool people. Cool!" required>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="form-group row">
      <label for="date" class="col-sm-2 col-form-label">Date:</label>
      <div class="col-sm-10 l-10">
        <input type="date" class="form-control" name="date" placeholder="A cool event for cool people. Cool!" required>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="form-group row">
      <label for="start_time" class="col-sm-2 col-form-label">Start Time:</label>
      <div class="col-sm-10 l-10">
        <input type="datetime" class="form-control" name="start_time" placeholder="2200" required>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="form-group row">
      <label for="end_time" class="col-sm-2 col-form-label">End Time:</label>
      <div class="col-sm-10">
        <input type="datetime" class="form-control" name="end_time" placeholder="0200" required>
      </div>
    </div>
  </div>
  <br> <br>
  <div class="col-s text-center">
    <button type="submit" class="btn btn-warning text-light"> <i class="fa fa-check"></i> Submit</button>
    <button type="reset" class="btn btn-primary"><i class="fa fa-repeat"></i> Reset</button>
  </div>

</form>
<script>
{{!-- $("#add-event").validate(); --}}
</script>