<form id="add-event">
  <label for="name">Name:</label>
  <input type="text" name="name" placeholder="Big Party">
  <br>
  <label for="description">Description:</label>
  <input type="text" name="description" placeholder="A cool event for cool people. Cool!">
  <br>
  <label for="date">Date:</label>
  <input type="date" name="date" placeholder="A cool event for cool people. Cool!">
  <br>
  <label for="start_time">Start Time:</label>
  <input type="datetime" name="start_time" placeholder="A cool event for cool people. Cool!">
  <br>
  <label for="end_time">End Time:</label>
  <input type="datetime" name="end_time" placeholder="A cool event for cool people. Cool!">
  <br>
  <button type="submit" class="btn btn-warning">Submit</button>
  <button type="reset" class="btn btn-primary">Reset</button>
</form>