<div class="container">
    <h2>Admin Page</h2>
</div>


<div class="jumbotron mb-5 mt-2 p-3">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <button type="button" class="btn btn-primary float-right"><i class="fa fa-user-circle-o"></i> Log
                out</button>
        </div>
        <div class="container">
            <h1 class="display-4 text-dark text-center" id="jumboText"><strong>My Name Is App.</strong></h1>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-s-12  col-md-5 ml-5 col-lg-4">
            <h1>Dashboard</h1>
            <hr id="hr1">
        </div>
    </div>
</div>

<div class="container text-center">
    <div class="row" id="cards">
        <div class="card col-sm-12 col-md-4 col-lg-4 m-4" style="width: 18rem;">
            {{!-- <img class="card-img-top" src="..." alt="Card image cap"> --}}
            <div class="card-body">
                <a href="" class="card-text text-dark">Up Comming events</a>
            </div>
        </div>

        <div class="card col-s12 col-md-4 col-lg-4 m-4" style="width: 18rem;">
            {{!-- <img class="card-img-top" src="..." alt="Card image cap"> --}}
            <div class="card-body">
                <a href="" class="card-text text-dark">Manage my events</a>
            </div>
        </div>

        <div class="card col-sm-12 col-md-4 col-lg-4 m-4" style="width: 18rem;">
            {{!-- <img class="card-img-top" src="..." alt="Card image cap"> --}}
            <div class="card-body">
                <a href="/admin/addevent" class="card-text text-dark">Create new event</a>
            </div>
        </div>

        <div class="card col-sm-12 col-md-4 col-lg-4 m-4" style="width: 18rem;">
            {{!-- <img class="card-img-top" src="..." alt="Card image cap"> --}}
            <div class="card-body">
                <a href="/admin/addusers" class="card-text text-dark">Invite more people</a>
            </div>
        </div>

    </div>
</div>