<div class="row">
    <div class="col-12">
        <div class="jumbotron jumbotron mb-5 mt-2 p-3">
            <div class=""></div>
            <div class="container">
                <h1 class="display-4 text-dark text-center">Attendees</h1>
                <hr class="my-4">
        <p class="text-dark text-center">All | Present only</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
<div class="row">
    <div class="card col-s12 m-5 l-4" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <p class="card-text text-dark">Name </p>
            <p class="card-text text-dark"> Last Name </p>
            <p class="card-text text-dark">Title </p>
        </div>
    </div>

    <div class="card col s-12 m-5 l-4" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <p class="card-text text-dark">Name </p>
            <p class="card-text text-dark"> Last Name </p>
            <p class="card-text text-dark">Title </p>
        </div>
    </div>

    <div class="card col s-12 m-5 l-4" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <p class="card-text text-dark">Name </p>
            <p class="card-text text-dark"> Last Name </p>
            <p class="card-text text-dark">Title </p>
        </div>
    </div>

</div>
</div>