<div class="row">
  <div class="col-12">
    <div class="jumbotron jumbotron mb-5 mt-2 p-3">
      <button type="button" class="btn btn-danger float-right m-1">Sign Up</button>
      <button type="button" class="btn btn-primary float-right m-1">Log in</button>
      <div class="mt-5"></div>
      <div class="container">
        <h1 class="display-4 text-dark text-center">Hello, welcome to the My Name Is App.</h1>
        <hr class="my-4">
        <p class="text-dark text-center">A tool to help your employees remember each other's names.</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  {{!-- <section id="body-content" class="bg-light text-dark"> --}}
  <div class="row">
    <header class="col-12 text-light">
      <h2>About My Name Is App</h2>
    </header>
    <br><br>
  </div>
  <div class="row">
    <p class="col-s-12 m12 l- text-light ml-3">
      This app will revolutionize your company's culture in an unprecedented way. Imagine a company where you always
      know everyones name at any given mandatory event; now you can with <span class="emph">My Name Is!</span>
    </p>
  </div>
  {{!-- </section> --}}
</div>

<aside id="cta-content" class="row text-center">
  <div class="col-12">
    <a href="/register/" class="btn btn-warning mt-5" id="homepage-cta">
      Get Started!
    </a>
  </div>
</aside>