<div class="jumbotron mb-5 mt-2 p-3">
  <div class="row">
    <div class="col-s-12 col-md-12 col-lg-12">
      <button type="button" class="btn btn-danger float-right ml-1"><i class="fa fa-user-plus"></i> Sign
        Up</button>
      <button type="button" class="btn btn-primary float-right ml-1"><i class="fa fa-user"></i> Log in</button>
    </div>
    <div class="container mt-2">
      <h1 class="display-4 text-dark text-center" id="jumboText"><strong>Hello, welcome to the My Name Is App.</strong>
      </h1>
      <hr class="my-4">
      <p class="text-dark text-center">A tool to help your employees remember each other's names.</p>
    </div>
  </div>
</div>
<aside style="position: absolute; top:10vh;left:25vw;right:0;bottom:0; max-width:50%;max-height:50%; background-color: rgba(255,255,255,0.85); text-align:center;z-index:9;">
  <form id="login-form">
    <input name="username" type="text" placeholder="Username">
    <input name="password" type="password" placeholder="********">
    <br>
    <button type="submit" value="Submit" class="btn btn-warning">Submit</button>
  </form>
</aside>
<div class="container">
  {{!-- <section id="body-content" class="bg-light text-dark"> --}}
  <div class="row">
    <header class="col-12 text-light">
      <h2>About My Name Is App</h2>
    </header>
    <br><br>
  </div>
  <div class="row">
    <p class="col-s-12 m12 l- text-light ml-3">
      This app will revolutionize your company's culture in an unprecedented way. Imagine a company where you always
      know everyones name at any given mandatory event; now you can with <span class="emph">My Name Is!</span>
    </p>
  </div>
  {{!-- </section> --}}
</div>

<aside id="cta-content" class="row text-center">
  <div class="col-12">
    <a href="/register/" class="btn btn-warning mt-5" id="homepage-cta">
      <i class="fa fa-check"></i> Get Started!
    </a>
  </div>
</aside>