<aside id="login" style="position: absolute; top:25vh;left:25vw;right:0;bottom:0; max-width:50%; background-color: rgba(255,255,255,0.85); text-align:center;padding: 20px;z-index:9;" class="text-dark">
  <h1>Login</h1>
  <hr>
  <p>Please enter your username and password to view this page:</p>
  <div id="error-messsage" class="alert alert-danger">
    <p></p>
  </div>
  <form id="login-form">
    <input name="username" type="text" placeholder="Username">
    <input name="password" type="password" placeholder="********">
    <br>
    <button type="submit" value="Login" class="btn btn-warning">Login</button>
    <a href="/register/" class="btn btn-primary">Sign Up</a>
  </form>
</aside>