<h2>Registration Page</h2>

<form>
  <label for="first_name">First Name:</label>
  <input name="first_name" placeholder="Jason" type="text">
  <br>
  <label for="last_name">Last Name:</label>
  <input name="last_name" placeholder="Voorhes" type="text">
  <br>
  <label for="last_name">Email:</label>
  <input name="email" placeholder="jHoorves@gmail.com" type="text">
  <br>
  <label for="username">Display Name:</label>
  <input name="username" placeholder="jHoorves@gmail.com" type="text">
  <br>
  <label for="password">Password:</label>
  <input name="password" placeholder="********" type="password">
  <br>
  <label for="profile_image">URL to Profile Picture</label>
  <input name="profile_image" placeholder="https://i.imgur.com/wvsuPQW.gif" type="text">
  <br>
  <br>
  <input type="submit" value="Create Event" class="btn btn-primary">
  <button type="button" class="btn btn-primary">Find  Existing Event</button>
  
</form>