body {
  background-color:#333;
  color: #efefef;
}
html {
  touch-action: none; 
}
#hr1{
  border-color: cyan
}

.jumbotron{
width: 100%
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  #cards {
      display: flex;
      flex-direction: column;
      padding: 28px;  
 
    }

    #jumboText{
      font-size: 30px;
      margin-top: 20%;
      background: rgb(189, 211, 209)
      /**/
    }
}

/*======================================= */

#eventInfo {
  margin-top: 30px;
  background: rgb(189, 211, 209)
  /* background:linear-gradient(rgb(178, 191, 246), rgb(146, 248, 222)); */

}

h1, h2, h3, h4, p, span{
  font-family: 'Righteous', cursive;
}

  h1 {
    text-shadow: 3px 3px rgba(3, 40, 250, 0.349);
  }

  .card{
    background: rgb(189, 211, 209);
  }

  
